.profile__edit-button {
  width: 24px;
  height: 24px;
  background-color: #000000;
  background: url(../../../images/pen.svg) no-repeat center center;
  background-size: 10px 10px;
  border: 1px solid #FFF;
  margin-top: 17px;
}




/*
.profile__edit-button {
  width: 24px;
  height: 24px;
  background-color: #000000;
  background: url(../../../images/pen.svg) no-repeat center center;
  background-size: 10px 10px;
  border: 1px solid #FFF;
  grid-area: edit-button;
  align-self: end;
}

@media screen and (max-width: 721px) {
  .profile__edit-button {
    align-self: start;
  }
}
*/
