.profile__edit-button {
  width: 24px;
  height: 24px;
  background-color: #000000;
  background: url(../../../images/pen.svg) no-repeat center center;
  background-size: 10px 10px;
  border: 1px solid #FFF;
  margin-top: 17px;
  transition: opacity .2s linear;
}

@media screen and (max-width: 918px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 8px 8px;
    margin-top: 9px;
  }
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: .6;
}
