.form {
  background-color: #fff;
  box-sizing: border-box;
  padding: 35px 36px 37px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 561px) {
  .form {
    padding: 25px 22px;
  }
}
