.profile {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 40px 200px 51px;
  gap: 20px;
}

@media screen and (max-width: 1279px) {
  .profile {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media screen and (max-width: 1025px) {
  .profile {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 721px) {
  .profile {
    padding: 41px 30px 36px;
    flex-direction: column;
    gap: 40px;
  }
}

@media screen and (max-width: 426px) {
  .profile {
    padding-left: 19px;
    padding-right: 19px;
    gap: 30px;
  }
}
