.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 19px 41px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 918px) {
  .header {
    max-width: 581px;
  }
}

@media screen and (max-width: 721px) {
  .header {
    padding-top: 28px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 618px) {
  .header {
    padding-left: 27px;
  }
}
