.profile__add-button {
  box-sizing: border-box;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  min-width: 50px;
  background-color: transparent;
  background: url(../../../images/plus.svg) no-repeat center center;
  background-size: 22px 22px;
  border: 2px solid #FFF;
  align-self: center;
  transition: opacity .2s linear;
  margin-left: auto;
}

@media screen and (max-width: 619px) {
  .profile__add-button {
    margin-left: 0;
    margin-top: 7px;
    width: 282px;
    background-size: 16px 16px;
  }
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: .6;
}
