.places__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 0 auto;
    padding: 0 19px 67px;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    column-gap: 17px;
    row-gap: 20px;
  }
