.popup__close-button {
  position:absolute;
  width: 32px;
  height: 32px;
  background: url(../../../images/close-icon.svg) no-repeat center center;
  background-size: cover;
  top: -40px;
  right: -40px;
  border: none;
  transition: opacity .2s linear;
}

@media screen and (max-width: 561px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -35px;
    right: 0;
    border: none;
  }
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: .6;
}
