@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/default-text/default-text.css);
@import url(../blocks/page-area/page-area.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__general/profile__general.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__username/profile__username.css);
@import url(../blocks/profile/__user-role/profile__user-role.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button.css/profile__add-button.css);
@import url(../blocks/profile/__info-container/profile__info-container.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/places/places.css);
@import url(../blocks/places/__list/places__list.css);
@import url(../blocks/places/__place/places__place.css);
@import url(../blocks/places/__place-image/places__place-image.css);
@import url(../blocks/places/__place-info/places__place-info.css);
@import url(../blocks/places/__place-name/places__place-name.css);
@import url(../blocks/places/__like/places__like.css);
@import url(../blocks/places/__like/_liked/places__like_liked.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/_showed/popup_showed.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/form/form.css);
@import url(../blocks/form/__title/form__title.css);
@import url(../blocks/form/__user-info/form__user-info.css);
@import url(../blocks/form/__save-button/form__save-button.css);
@import url(../blocks/form/__input-text/form__input-text.css);
