.card__like {
  border: none;
  width: 23px;
  height: 20px;
  background: url(../../../images/like.svg) no-repeat center center;
  background-size: 22px 19px;
  margin-top: 5px;
  transition: opacity .2s linear;
}

.card__like:hover {
  cursor: pointer;
  opacity: .5;
}
